/* Configuração Global */
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, p {
    cursor: default;
}

/*
 * Navbar: Barra de navegação
 */
.navbar {
    background-color: white;
    width: 100%;
    position: fixed;

    padding: 10px 0;
    border-bottom: 2px solid #006494;
    border-radius: 5px;
}

.nav-box {
    padding: 5px 10px;
    margin: 0 20px;
    box-sizing: border-box;
    position: relative;
}

.nav-box > h1 > img {
    width: 128px;
}

.nav-itens {
    position: absolute;
    display: inline;
    left: 180px;
    top: 15px;
}

.nav-itens > li {
    display: inline;
    margin: 0 3px;   
    padding: 10px;
    border-bottom: 2px solid #1B98E0;
    
}

.nav-itens > li {
    text-transform: uppercase;
    user-select: none;
    font-weight: bold;
    cursor: pointer;
}

.nav-itens > li > a {
    text-decoration: none;
    color: #13293D;
}

.nav-itens > li:hover {
    border-color: #13293D;
}

/* Navbar: Barra de pesquisa*/
.search {
    display: inline;
    position: absolute;
    right: 40px;
    top: 7px;
    vertical-align: top;
}

.search-bar {
    width: 200px;
    height: 24px;
}

.search-bar::placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.search-bar:active {
    border-color: blue;
}

.search-button {
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(image/search.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 6%;
    left: 85%;
    cursor: pointer;
}

.menu-button {
    display: none;
}

/*
 * Conteudo: Produto destaque
 */
.featured-product {
    padding-top: 130px;
    padding-bottom: 80px;
    background-color: #247BA0;
}

.featured-product > article {
    padding: 0 15%;
}

.feature-product {
    display: inline-block;
}

.product-image {
    width: 45%;
    display: inherit;
}

.product-image > img {
    width: 100%;
    border: 5px solid white;
    border-radius: 20px;
}

.product-image > h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.product-description {
    margin: 7% 0 0 30px;
    vertical-align: top;
    display: inherit;
    width: 45%;
}

.product-description > img {
    width: 80%;
    display: inline;
    margin-bottom: 20px;
}

.product-description > p {
    font-weight: bold;
    color: white;
}

.product-description > ul {
    margin: 30px 0;
}

.product-buy {
    font-size: 30px;
    display: inline;
    padding: 7px;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.product-buy:hover {
    box-shadow: 0px 4px 5px #006494;
    transition: 1.5s;
}

.product-buy > a {
    color:white;
    text-decoration: none;
}

.product-description > ul > li {
    margin-left: 10px;
    color: #000000;
    user-select: none;
}

/*
 * Produtos 
 */
.products-div {
    width: 100%;
    margin: 50px 0;
}

.products-div > h2 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.produtos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px 10% 0 10%;
}

.produtos > li > img {
    width: 85%;
    padding: 20px 0;
}

.produtos > li {
    padding: 30px 5px;
    text-align: center;
    display: inline-block;
    margin-bottom: 60px;
    border: 3px solid teal;
    border-radius: 13px;
    margin-right: 23px;
    width: 24%;
    vertical-align: top;
}

.produtos > li {
    box-shadow: 0px 3px 7px;
}

.produtos > li:hover {
    border-color: #006494;
    box-shadow: 0px 4px 5px #006494;
    transition: 1.5s;
}

.produtos > li > h3 {
    color: #13293D;
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 5px;
}

.produtos > li > p {
    margin-bottom: 20px;
}

.produtos > li > div {
    font-size: 20px;
    display: inline;
    padding: 7px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.produtos > li > div:hover {
    border-color: #006494;    
}

.produtos > li > div > a {
    color: black;
    text-decoration: none;
}

footer {
    padding: 40px 20px;
    background-color: #13293D;    
}

footer > div {
    position: relative;
}

.logo-copyright > img {
    width: 300px;
    margin-bottom: 15px;
}

.logo-copyright > p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    width: 300px;
}

.links {
    position: absolute;
    right: 10%;
    top: 15%;
}

.links > ul {
    margin-top: 5px;
}

.links > ul > li {
    padding-bottom: 3px;
}

.links > h3 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1B98E0;
}

.links > ul > li > a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    .featured-product > article {
        padding: 0 10%;
    }
    
    .product-description {
        margin: 7% 0 0 25px;
        vertical-align: top;
        display: inherit;
        width: 45%;
    }

    .produtos {
        margin: 25px 1% 0 1%;
    }
}

@media screen and (max-width: 730px) {
    .nav-box > ul {
        display: none;
    }

    .search {
        display: none;
    }

    .menu-button {
        position: absolute;
        display: initial;
        width: 35px;
        height: 35px;
        background-image: url(image/menu.png);
        background-size: contain;
        background-repeat: no-repeat;
        top: 10%;
        right: 5%;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    .nav-itens {
        font-size: 14px;
    }

    .search {
        right: 0;
    }

    .search-bar {
        width: 150px;
    }

    .featured-product > article {
        padding: 0 4%;
    }
    
    .product-description {
        margin: 7% 0 0 25px;
        vertical-align: top;
        display: inherit;
        width: 45%;
    }
    .product-buy {
        font-size: 25px;
    }
    .produtos > li {
        padding: 20px ​5px;
    }
    .produtos > li > h3 {
        font-size: 20px;
    }
}

@media screen and (max-width: 576px) {
    .product-image {
        width: 100%;
    }
    .product-image > h2 {
        font-size: 37px;
    }

    .product-description {
        text-align: center;
        margin: 7% 0 0;
        vertical-align: top;
        display: inherit;
        width: 100%;
    }

    .product-image > img {
        width: 80%;
        margin: 0px 8.5%;
    }

    .product-description > img {
        display: none;
    }

    .product-description > p {
        font-size: 27px;
    }
    
    .product-description > ul {
        font-size: 25px;
    }

    .produtos > li {
        padding: 15px 15px;
        margin: 0 3px;
    }

    .produtos > li > p {
        margin-bottom: 15px;
    }

    .produtos > li > div {
        font-size: 16px;
    }
    .logo-copyright > img {
        width: 40%;
    }

    .links {
        position: absolute;
        right: 0%;
        top: 5%;
    }

    .logo-copyright > p {
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        width: 45%;
    }
}

@media screen and (max-width: 460px) {
    .products-div > h2 {
        font-size: 23px;
    }

    .produtos {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .produtos > li {
        width: 60%;
        margin-bottom: 29px;
    }

    .links > ul > li {
        text-align: center;
    }
}